.main_search{
	background: url('http://subtlepatterns.com/patterns/subtlenet2.png');
	border: solid 1px #ECECEC;
	border-width: 0 0 2px 0;
}

h1{
	font-size: 24px;
	font-family: "Open Sans", "Arial", sans-serif;
	text-align: left;
	line-height: 1.2em;
	margin-bottom: 15px;
}

.action h3
{
	color: #AAA;
	
}

h2{
	font-size: 11px;
	color: #7A7A7A;
	text-transform: uppercase;
	border-bottom: 2px solid #EFEFEF;
	line-height: 15px;
	font-weight: bold;
}
#searchMain{
	padding: 8px 15px;
	width: 75%;
}

.search_button{
	margin-top: -5px;
	width: 24%;
}

.properties_home{
	margin-top: 15px;
	text-align: center;
}

.properties_home table{
	width: 100%;
}

.properties_home img{
	width: 78px;
	height: 78px;
}