#searchBar{
	display: block;
	position: absolute;
	bottom: 0;
	width: 300px;
	padding: 5px 25px 10px 25px;
	text-align: center;
	right: 0;
	-moz-border-radius: 11px 11px 0 0;
	-webkit-border-radius: 11px 11px 0 0;
	border-radius: 11px 11px 0 0;
	background-image: url('../img/icons/transparent.png');
	z-index: 5;
}

#location{
	font-size: 14px;
	color: #25aae1;
	font-weight: bold;
}

#price{
	font-size: 1.1em;
}

.sprite{
	height: 130px;
	width: 88px;
	background-image: url('../img/icons/homepage.png');
}

.howitworks{
	background-position: 88px 0;
}

.features{
	background-position: 0 0;
}

.benefits{
	background-position: 176px 0;
}