@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
@import url(http://fonts.googleapis.com/css?family=Arvo:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,300,700,800);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.has-js .label_check, .has-js .label_radio{ padding: 0 0 5px 25px;}

.has-js .label_check:hover, .has-js .label_radio:hover{
	cursor: pointer;
}
.has-js .label_radio { background: url(radio-off.png) no-repeat; }
.has-js .label_check { background: url(check-off.png) no-repeat; }
.has-js label.c_on { background: url(check-on.png) no-repeat; }
.has-js label.r_on { background: url(radio-on.png) no-repeat; }
.has-js .label_check input,
.has-js .label_radio input { position: absolute; left: -9999px; }

p{
	margin: 0 0 9px;
	line-height: 17px;
}

h2{
	font-size: 11pt;
	text-transform: uppercase;
	font-weight: bold;
	color: #CECECE;
	text-align: left;
}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* =================================== */
/*		BASE STYLE STARTS NOW
/* =================================== */

html,body {
	margin:0;
	padding:0;
	height:100%; /* needed for container min-height */	
	width: 100%;
	min-width: 1000px;
	word-wrap: break-word;
}

a{
	text-decoration: none;
	color: inherit;
}

a:hover{
	color: #5aacff;
	text-decoration: underline;
}

em, b{
	font-weight: 900;
}

body{
	font-family: "ProximaNovaLtRegular", "Helvetica", "Arial", sans-serif;
	font-size: 12pt;
	background-color: #F7F7F7;
}

header{
	background-color: #f0f0f0;
	width: 100%;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
}

input[type="text"]{
	font-style: italic;
	font-weight: 500;
}

.formee input[type="submit"]{
	background-color: #000000;
	background-color: #0096D5;
	padding: 4px 19px 4px 19px;
	text-transform: lowercase;
	color: white;
	font-weight: 700;
	font-size: 11px;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	border: none;
	-webkit-transition: background-color 200ms linear,color 200ms linear;
	-moz-transition: background-color 200ms linear,color 200ms linear;
	-o-transition: background-color 200ms linear,color 200ms linear;
	-ms-transition: background-color 200ms linear,color 200ms linear;
	transition: background-color 200ms linear;
	border: none;
	padding: 5px 15px;
}

.formee input[type="submit"]:hover{
	background-color: #FB812F;
}

h1{
	font-size: 14pt;
	line-height: 1.2em;
	text-align: center;
	font-weight: 700;
	font-family: "ProximaNovaLtBold", "Helvetica", "Arial", sans-serif;
}

.features_block h1{
	font-style: italic;
}

span.highlight{
	color: #3598cf;
	display: inline;

}

div.submit{
	margin: 10px 0;
	text-align: right;
}

#main_navigation{
	background: #6b6b6b; /* Old browsers */
	background: -moz-linear-gradient(top, #6b6b6b 0%, #333333 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6b6b6b), color-stop(100%,#333333)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #6b6b6b 0%,#333333 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #6b6b6b 0%,#333333 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #6b6b6b 0%,#333333 100%); /* IE10+ */
	background: linear-gradient(top, #6b6b6b 0%,#333333 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b6b6b', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
	line-height: 8px;
	color: #CECECE;
	font-size: 11px;
	z-index: 10;
	height: 70px;
	overflow: hidden;
}

#main_navigation ul li{
	display: block;
	float: left;
	position: relative;
	border-style: solid;
	border-width: 0 1px 0 0;
	border-color: #676666;
	-moz-box-shadow: 1px 0px 0 #4e4c4c;
	-webkit-box-shadow: 1px 0px 0 #4e4c4c;
	box-shadow: 1px 0px 0 #4e4c4c;
	margin: 4px 0 0 0;
}

#main_navigation ul li a{
	display: block;
	padding: 10px 25px 12px 25px;
	text-decoration: none;
	text-align: center;
}

#main_navigation ul li a:active{
	-moz-box-shadow: inset 0 0 8px #888;
	-webkit-box-shadow: inset 0 0 8px#888;
	box-shadow: inner 0 0 8px #888;
	background-color: #404040;
}

#main_navigation .sub_icon{
	width: 32px;
	height: 32px;
	padding: 0 0 5px 0;
}

#main_navigation ul li:hover, #main_navigation ul li.active{
	background: #747373; /* Old browsers */
	background: -moz-linear-gradient(top, #747373 0%, #3d3d3d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#747373), color-stop(100%,#3d3d3d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #747373 0%,#3d3d3d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #747373 0%,#3d3d3d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #747373 0%,#3d3d3d 100%); /* IE10+ */
	background: linear-gradient(top, #747373 0%,#3d3d3d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#747373', endColorstr='#3d3d3d',GradientType=0 ); /* IE6-9 */
	-moz-box-shadow: inset 1px 0 1px #888;
	-webkit-box-shadow: inset 1px 0 1px#888;
	box-shadow: inner 1px 0 1px #888;
	border-style: solid;
	border-width: 4px 0 0 0;
	border-color: #84c4ff;
	margin: 0;
}

#profile, .float_right{
	float: right;
}

.float_right{
	padding: 5px;
}

#main_navigation #profile li a{
	color: #FFFFFF;
}

#main_navigation #profile li ul img.profile_pic{
	float: left;
	width: 48px;
	height: 48px;
}

#main_navigation #profile li ul img{
	padding: 9px;
	border-style: solid;
	border-width: 0 1px 0 0;
	border-color: #070707;
	box-shadow: 1px 0px 0 #4e4c4c;
}

#main_navigation #profile li ul .profile{
	border-style: solid;
	border-width: 0 0 0 1px;
	border-color: #444242;
	margin-left: 67px;
	padding: 15px 0 0 25px;
	color: #828282;
	font-weight: bold;
	text-transform: none;
	font-size: .9em;
}

#searchBar{
	margin: auto;
	text-align: center;
	display: none;
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: #e4e3e3;
}

#searchBar .formee{
	margin: auto;
}

.formee-lbl, .formee label {
	font-size: 11px;
	color: #a3a3a3;
}

.ui-datepicker {
	display: none;
}

#searchBar input{
	text-align: center;
}

#topLogo{
	width: 225px;
	height: 45px;
}

div#container {
	position:relative; 
	margin:0 auto;
	height:auto !important; 
	height:100%;
	min-height:100%; 
	width: 100%;
	background-image:url('../img/xv_pattern.png');
}

#main_slider{
	text-align: center;
	height: 450px;
	overflow: hidden;
	position: relative;
	width: 100%;
	margin-top: 1px;
}

#main_slider #slider_images{
	width: 100%;
	position: relative;
	margin: auto;
	height: 100%;
	-moz-box-shadow: 0 0 5px #FFFFFF;
	-webkit-box-shadow: 0 0 5px#FFFFFF;
	box-shadow: 0 0 5px #FFFFFF;
}

#main_slider .image{
	min-height: 100%;
	min-width: 100%;
	position: absolute;
	z-index: 4;
	background-size: 100% auto;
	display: none;
}

#main_slider .caption{
	opacity:0.6;
	filter:alpha(opacity=60);
	background-color: #000000;
	color: #FFFFFF;
	font-size: 16pt;
	padding: 15px 4px 15px 24px;
	font-family:  "Helvetica", "Arial", sans-serif;
	text-transform: uppercase;
	min-width: 300px;
}

#main_slider #captions{
	left: -2000px;
	max-width: 450px;
	bottom: 0;
	position: absolute;
	z-index: 5;
	text-align: left;
}

#banners{
	text-align: center;
}

#banners img{
	width: 33%;
	display: inline-block;
	height: auto;
	margin-top: -10px;
}
#features{
	text-align: center;
}

#features h1.letter{
	background-color: #95ca00;
	color: #FFFFFF;
	font-size: 22px;
	padding: 5px 0 8px 0;
	text-align: center;
	font-family: "Arvo", "Arial", serif;
	font-weight: 700;
	text-transform: uppercase;
	border-style: solid;
	border-width: 0 0 4px 0;
	border-color: #ECECEC;
}

#features .feature_individual h1{
	font-size: 12px;
	text-transform: uppercase;
	line-height: 12px;
	word-spacing: 0em; 
	font-weight: 900;
	padding: 20px 0 9px 0;
}

#features .feature_individual{
	float: right;
	padding-left: 100px;
}

#features h3{
	display:
}

#features ul{
	padding-left: 88px;
	float: right;
}

.notification{
	color: red;
	font-weight: bold;
}

#body{
	width: 100%;
	max-width: 1600px;
	margin: 20px auto 0 auto;
	background-color: #FFFFFF;
	padding: 10px 20px 20px 20px;
}

footer {
	position:relative;
	width:100%;
	bottom:0; /* stick to bottom */
	min-height: 200px;
	/*background-color: #001D30;*/
	color: #FFFFFF;
	background-image:url('../img/dark_pattern.png');
	border-style: solid;
	border-width: 3px 0 0 0;
	border-color: #ff8a00;
}

footer > div.inner_footer{
	width: 80%;
	margin: auto;
	padding-top: 8px;
	letter-spacing: 1px;
	font-size: 9pt;
	line-height: 20px;
	text-align: center;
}

footer div > p{
	padding-top: 20px;
}

footer .social_media{
	position: absolute;
	right: 0;
	padding: 10px 20px 0 0;
}

footer .social_media img{
	margin: 10px 20px 0 0;
	float: right;
	width: 42px;
	height: 42px;
	transition: opacity .7s;
	-moz-transition: opacity .7s; /* Firefox 4 */
	-webkit-transition: opacity .7s; /* Safari and Chrome */
	-o-transition: opacity .7s; /* Opera */
	opacity:0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */
}

footer .social_media img:hover{
	opacity:1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}

/*footer .social_media:after{
	content: " | ";
}

footer .social_media:nth-last-child(1):after{
	content: "";
}
*/
footer nav{
	text-align: left;
	margin-left: 30px;
}

footer nav ul{
	display: inline-block;
	vertical-align: top;
	margin-right: 120px;
}

.full{
	width: 100% !important;
	margin: 0 auto 0 auto!important;
}

.important{
	color: #32b7e3;
	font-weight: bold;
	font-family: "Arial", sans-serif;
	font-size: 1.2em;
}

.features_block{
	background-color: #95CA00;
	padding: 20px;
	border-radius: 9px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	margin-bottom: 10px;
}

.blue{
	background-color: #d2efff;
}

.termsofservice {
	overflow: auto;
	height: 200px;
	background-color: #F5F8F8;
	border-style: solid;
	border-width: 1px;
	border-color: #ECECEC;
	padding: 10px;
	text-align: left;
	font-size: 1.1em;
}

/* == FORMS == */

form.formee > div, form.formee > section > div, .panel_info{
	margin: 0 0 15px 0;
	background-color: #ECECEC;
	padding: 9px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.panel_info > h1{
	font-size: 1em;
	color: #A3A3A3;
	text-transform: uppercase;
}

.panel_info .panel{
	background-color: #FFFFFF;
	text-align: center;
	margin: 5px;
}

form.formee > section > div{
	background-color: #e6f2f9;
}

form.formee > div.submit{
	background-color: transparent;
}

.fileupload-buttonbar{
	margin-top: 25px;
	padding: 15px;
}

/* == GLOBAL == */
#map_canvas { min-height: 475px; height: 100% }
