@import url(http://fonts.googleapis.com/css?family=Arvo:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,700);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.has-js .label_check, .has-js .label_radio{ padding: 0 0 5px 25px;}

.has-js .label_check:hover, .has-js .label_radio:hover{
	cursor: pointer;
}
.has-js .label_radio { background: url(radio-off.png) no-repeat; }
.has-js .label_check { background: url(check-off.png) no-repeat; }
.has-js label.c_on { background: url(check-on.png) no-repeat; }
.has-js label.r_on { background: url(radio-on.png) no-repeat; }
.has-js .label_check input,
.has-js .label_radio input { position: absolute; left: -9999px; }

p{
	margin: 0 0 9px;
	line-height: 17px;
}

h2{
	font-size: 11pt;
	text-transform: uppercase;
	font-weight: bold;
	color: #CECECE;
	text-align: left;
}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.error-message{
	color: red;
}
h1.heading, .formee legend{
	text-align: left;
	text-transform: uppercase;
	font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
	font-weight: 700;
	font-size: 11px;
	color: #F3F3F3;
	margin-bottom: 7px;
	background-color: #00518f;
	padding: 5px 24px;
	border-style: solid;
	border-width: 0 0 0 20px;
	border-color: #011f36;
	position: relative;
	margin: auto auto 10px auto;
}
/* =================================== */
/*		BASE STYLE STARTS NOW
/* =================================== */

html,body {
	margin:0;
	padding:0;
	height:100%; /* needed for container min-height */	
	width: 100%;
	min-width: 960px;
	word-wrap: break-word;
}

a{
	text-decoration: none;
}

a:hover{
	color: #5aacff;
	text-decoration: underline;
}

em, b{
	font-weight: 900;
}

body{
	font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
	font-size: 10pt;
	background-color: #F7F7F7;
	line-height: 1.4em;
}

header{
	background-color: #ECECEC;
	width: 100%;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
}

input[type="text"]{
	font-style: italic;
	font-weight: 500;
}

.formee input[type="submit"], fieldset a.next, fieldset a.prev{
	background-color: #0096D5;
	padding: 4px 19px 4px 19px;
	text-transform: lowercase;
	color: white;
	font-weight: 700;
	font-size: 11px;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	border: none;
	-webkit-transition: background-color 200ms linear,color 200ms linear;
	-moz-transition: background-color 200ms linear,color 200ms linear;
	-o-transition: background-color 200ms linear,color 200ms linear;
	-ms-transition: background-color 200ms linear,color 200ms linear;
	transition: background-color 200ms linear;
	border: none;
	padding: 5px 15px;
}

.formee input[type="submit"]:hover{
	background-color: #FB812F;
}

fieldset a.next, fieldset a.prev{
	margin-top: 15px;
	background-color: #b0232a;
}

h1{
	font-weight: 700;
	text-align: left;
	font-family: "Arial", sans-serif;
	font-size: 9pt;
	text-align: center;
}

.features_block h1{
	font-style: italic;
}

span.highlight{
	color: #3598cf;
	display: inline;

}

div.submit{
	margin: 10px 0;
	text-align: right;
}

#main_navigation{
	background: #6b6b6b; /* Old browsers */
	background: -moz-linear-gradient(top, #6b6b6b 0%, #333333 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6b6b6b), color-stop(100%,#333333)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #6b6b6b 0%,#333333 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #6b6b6b 0%,#333333 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #6b6b6b 0%,#333333 100%); /* IE10+ */
	background: linear-gradient(top, #6b6b6b 0%,#333333 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b6b6b', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
	line-height: 8px;
	color: #CECECE;
	font-size: 11px;
	z-index: 10;
	height: 70px;
	overflow: hidden;
}

#main_navigation ul li{
	display: block;
	float: left;
	position: relative;
	border-style: solid;
	border-width: 0 1px 0 0;
	border-color: #676666;
	-moz-box-shadow: 1px 0px 0 #4e4c4c;
	-webkit-box-shadow: 1px 0px 0 #4e4c4c;
	box-shadow: 1px 0px 0 #4e4c4c;
	margin: 4px 0 0 0;
}

#main_navigation ul li a{
	display: block;
	padding: 10px 25px 12px 25px;
	text-decoration: none;
	text-align: center;
}

#main_navigation ul li a:active{
	-moz-box-shadow: inset 0 0 8px #888;
	-webkit-box-shadow: inset 0 0 8px#888;
	box-shadow: inner 0 0 8px #888;
	background-color: #404040;
}

#main_navigation .sub_icon{
	width: 32px;
	height: 32px;
	padding: 0 0 5px 0;
}

#main_navigation ul li:hover, #main_navigation ul li.active{
	background: #747373; /* Old browsers */
	background: -moz-linear-gradient(top, #747373 0%, #3d3d3d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#747373), color-stop(100%,#3d3d3d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #747373 0%,#3d3d3d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #747373 0%,#3d3d3d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #747373 0%,#3d3d3d 100%); /* IE10+ */
	background: linear-gradient(top, #747373 0%,#3d3d3d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#747373', endColorstr='#3d3d3d',GradientType=0 ); /* IE6-9 */
	-moz-box-shadow: inset 1px 0 1px #888;
	-webkit-box-shadow: inset 1px 0 1px#888;
	box-shadow: inner 1px 0 1px #888;
	border-style: solid;
	border-width: 4px 0 0 0;
	border-color: #84c4ff;
	margin: 0;
}

#profile, .float_right{
	float: right;
}

.float_right{
	padding: 5px;
}

#main_navigation #profile li a{
	color: #FFFFFF;
}

#main_navigation #profile li ul img.profile_pic{
	float: left;
	width: 48px;
	height: 48px;
}

#main_navigation #profile li ul img{
	padding: 9px;
	border-style: solid;
	border-width: 0 1px 0 0;
	border-color: #070707;
	box-shadow: 1px 0px 0 #4e4c4c;
}

#main_navigation #profile li ul .profile{
	border-style: solid;
	border-width: 0 0 0 1px;
	border-color: #444242;
	margin-left: 67px;
	padding: 15px 0 0 25px;
	color: #828282;
	font-weight: bold;
	text-transform: none;
	font-size: .9em;
}

#searchBar{
	margin: auto;
	text-align: center;
	display: none;
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: #e4e3e3;
}

#searchBar .formee{
	margin: auto;
}

.formee-lbl, .formee label {
	font-size: 11px;
	color: #a3a3a3;
}

.ui-datepicker {
	display: none;
}

#searchBar input{
	text-align: center;
}

#topLogo{
	width: 225px;
	height: 45px;
}

body{
	background-color: #DDD;
}
div#container, div#header_container, div#footer_container, footer{
	max-width: 1600px;
	margin: auto;
}

div#container {
	position:relative; 
	margin:0 auto;
	/*height:auto !important; 
	height:100%;
	min-height:100%; */ 
	width: 100%;
	background-color: #F7F7F7;
	/* background-image:url('../img/xv_pattern.png'); */
-moz-box-shadow: 0 0 2px #888;
-webkit-box-shadow: 0 0 2px#888;
box-shadow: 0 0 2px #888;}


#main_slider{
	text-align: center;
	height: 450px;
	overflow: hidden;
	position: relative;
	width: 100%;
	margin-top: 1px;
}

#main_slider #slider_images{
	width: 100%;
	position: relative;
	margin: auto;
	height: 100%;
	-moz-box-shadow: 0 0 5px #FFFFFF;
	-webkit-box-shadow: 0 0 5px#FFFFFF;
	box-shadow: 0 0 5px #FFFFFF;
}

#main_slider .image{
	min-height: 100%;
	min-width: 100%;
	position: absolute;
	z-index: 4;
	background-size: 100% auto;
	display: none;
}

#main_slider .caption{
	opacity:0.6;
	filter:alpha(opacity=60);
	background-color: #000000;
	color: #FFFFFF;
	font-size: 16pt;
	padding: 15px 4px 15px 24px;
	font-family:  "Helvetica", "Arial", sans-serif;
	text-transform: uppercase;
	min-width: 300px;
}

#main_slider #captions{
	left: -2000px;
	max-width: 450px;
	bottom: 0;
	position: absolute;
	z-index: 5;
	text-align: left;
}

#banners{
	text-align: center;
	border: solid 1px #DCDCDC;
	border-width: 0 0 1px 0;
	background: #f1f1f1;
}

.carousel{
	margin-bottom: 0;
}

#banners img{
	display: inline-block;
	height: auto;
	margin-top: -10px;
	margin-right: 25px;
}
#features{
	text-align: center;
}

#features h1.letter{
	background-color: #95ca00;
	color: #FFFFFF;
	font-size: 22px;
	padding: 5px 0 8px 0;
	text-align: center;
	font-family: "Arvo", "Arial", serif;
	font-weight: 700;
	text-transform: uppercase;
	border-style: solid;
	border-width: 0 0 4px 0;
	border-color: #ECECEC;
}

#features .feature_individual h1{
	font-size: 12px;
	text-transform: uppercase;
	line-height: 12px;
	word-spacing: 0em; 
	font-weight: 900;
	padding: 20px 0 9px 0;
}

#features .feature_individual{
	float: right;
	padding-left: 100px;
}

#features h3{
	display:
}

#features ul{
	padding-left: 88px;
	float: right;
}

#features i{
	font-size: 102px;
	line-height: 114px;
	color: #FFF;
}
#features > a > div{
	-moz-border-radius: 9px;
	border-radius: 9px;
	padding: 5px 20px;
	background: rgb(157,213,58); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(157,213,58,1) 0%, rgba(161,213,79,1) 50%, rgba(128,194,23,1) 51%, rgba(124,188,10,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(157,213,58,1)), color-stop(50%,rgba(161,213,79,1)), color-stop(51%,rgba(128,194,23,1)), color-stop(100%,rgba(124,188,10,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */ /* IE6-9 */
	
	color: black;
}

#features .text{
	padding:7% 0;
	font-style: italic;
	font-size: 24px;
	line-height: 1.5em;
}
.notification{
	color: red;
	font-weight: bold;
}

#body{
	padding: 25px;
	width: 100%;
	margin: 1px auto 0 auto;
}

footer {
	min-height: 200px;
	color: #777;

}

footer > div.inner_footer{
	width: 80%;
	margin: auto;
	padding-top: 8px;
	letter-spacing: 1px;
	font-size: 9pt;
	line-height: 20px;
	text-align: center;
}

footer div > p{
	padding-top: 20px;
}

footer .social_media{
	float: right;
	padding: 10px 20px 0 0;
}

footer .social_media img{
	margin: 10px 20px 0 0;
	float: right;
	width: 42px;
	height: 42px;
	transition: opacity .7s;
	-moz-transition: opacity .7s; /* Firefox 4 */
	-webkit-transition: opacity .7s; /* Safari and Chrome */
	-o-transition: opacity .7s; /* Opera */
	opacity:0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */
}

footer .social_media img:hover{
	opacity:1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}

/*footer .social_media:after{
	content: " | ";
}

footer .social_media:nth-last-child(1):after{
	content: "";
}
*/
footer nav{
	text-align: left;
	margin-left: 30px;
}

footer nav ul{
	display: inline-block;
	vertical-align: top;
	margin-right: 120px;
}

.full{
	padding: 0 !important;
	width: 100% !important;
	margin: 0 auto 0 auto!important;
}

.important{
	color: #32b7e3;
	font-weight: bold;
	font-family: "Arial", sans-serif;
	font-size: 1.2em;
}

.features_block{
	background-color: #95CA00;
	padding: 20px;
	border-radius: 9px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	margin-bottom: 10px;
}

.message{
	margin-top: 15px;
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: #ECECEC;
}

.message:nth-child(even){
	background-color: #F9F9F9;
}

.message:hover{
	background-color: #F7F7F7;
}
.message .topics a{
	display: block;
}

.message .subtext{
	margin-top: 25px;
	font-size: 9pt;
	color: #999;
}

.message .subtext:after{
	content: '...';
}

.blue{
	background-color: #d2efff;
}

.panel{
	background-color: #ECECEC;
}
.arrow-right {
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-bottom: 13px solid transparent;
	border-left: 12px solid #536c7f;
	position: absolute;
	right: -13px;
	bottom: -0px;
}

.dashboard{
	background: #ECECEC;
	margin-top: 0;
}	

.dashboard li{
	position: relative;
}

span.arrow{
	text-indent: -9999em;
	width: 10px;
	height: 10px;
	display: block;
	background: url(../img/arrow.png) no-repeat right 0;
	position: absolute;
	top: 34px;
	right: 10px;
}
/*
.dashboard > h1{
	color: #FFFFFF;
}

.dashboard li ul li a:hover{
	background: #333;
	padding-bottom: 5px;
}
.dashboard li ul li a{
	background: #222;
	padding: 8px 22px;
}
.dashboard li > a{
	font-family: "Arial", sans-serif;
	font-size: 9pt;
	line-height: 1.2em;
	display: block;
	padding: 5px 15px;
	text-transform: uppercase;
	color: #CCC;
	background: #111;
	border-bottom: 1px solid #252525;
	transition: background .5s, color .5s;
	-moz-transition: background .5s, color .5s;
	-webkit-transition: background .5s, color .5s;  
	-o-transition: background .5s, color .5s; 
}

.dashboard li > a:hover{
	color: white;
	background: black;
	border-style: solid;
	border-width: 0 0 4px 0;
	border-color: #676666;
	padding-bottom: 2px;
}

.dashboard li a img{
	float: left;
	width: 32px;
	height: 32px;
	margin: 10px;
}

.dashboard li a > div{
	padding: 15px;
	margin-left: 80px;
}

.dashboard > ul li > ul li{
	display: none;
}
.dashboard li > ul, .dashboard li > ul > li{
	text-transform: none;
	text-decoration: underline;
	text-align: right;
}

.profile_bar{
	background-color: #F7F7F7;
	position: relative;
	border-style: solid;
	border-width: 1px 0 1px;
	border-color: #ECECEC;
}

.profile_bar .profile_picture{
	width: 64px;
	height: 64px;
	float: left;

}

.profile_bar h1{
	text-align: left;
}

.profile_bar div > section{
	float: left;
	padding: 15px;
}

.profile_bar > div{
	padding: 15px;
}

.quick_links {
	float: right;
}

#calendar{
	display: none;
	background: #F1F1F1;
	padding: 25px;
}

.quick_links li{
	margin: 5px 25px;
	float: left;
}

.profile_bar #calendar  h1{
	text-align: center;
}

.quick_links input{
	margin-left: 15px;
}

.content{
	padding: 10px 2px;
	background-color: #FFFFFF;
}

.content > div{
	margin-left: 1px;
	border-style: solid;
	border-width: 0 0 0 1px;
	border-color: #ECECEC;
	padding: 0 20px;
} */


.nav.nav-list{
	margin: auto;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	font-family: "Arial", sans-serif;
	font-size: 11px;
	margin-bottom: 15px;
}

.well > h1{
	text-align: left;
	margin-bottom: 3px;
	color: #999;
	font-weight: 400;
}

#content{
	border-style: solid;
	border-width: 1px;
	border-color: #F1F1F1;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	position: relative;
	background-color: #FFF;
}

#content > section{
	position: relative;
	background: url('../img/dark_bg.png');
}

#content > section > h1{
	font-size: 12pt;
	font-style: italic;
	font-weight: 400;
	text-align: left;
	position: absolute;
	top: -0px;
	padding: 10px;
	background-color: #FCFCFC;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

#content > section > div{
	float: right;
	background-color: #CECECE;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	width: 320px;
	margin: 45px 0 0 10px;
	padding: 25px;
	font-family: "Arial", sans-serif;
	font-size: 11px;
}

#questions li{
	margin-bottom: 4px;
}
#answer{
	display: none;
}

#answer > h1{
	color: #ff8a2b;
	text-align: left;
	font-weight: 400;
	font-size: 15px;
	margin-bottom: 15px;
}

#content > section > div a{
	color: #08C;
}

.properties{
	border-style: solid;
	border-width: 1px;
	border-color: #ECECEC;
	margin-top: 5px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	-webkit-border-radius: 9px;background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 100%); /* IE10+ */
background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}

.properties .alert{
	margin-bottom: 2px;
	text-align: center;
	font-size: 13px;
}

.properties .alert i{
	padding-right: 15px;
	font-size: 24px;
}

.booking_person{
	background: rgb(254,254,254); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(247,247,247,1) 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,254,254,1)), color-stop(99%,rgba(247,247,247,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%,rgba(247,247,247,1) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(254,254,254,1) 0%,rgba(247,247,247,1) 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(254,254,254,1) 0%,rgba(247,247,247,1) 99%); /* IE10+ */
	background: linear-gradient(top, rgba(254,254,254,1) 0%,rgba(247,247,247,1) 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */
	-moz-box-shadow: 0 0 1px #888;
	-webkit-box-shadow: 0 0 1px#888;
	box-shadow: 0 0 1px #888;
	padding: 10px 16px 0;
	margin-bottom: 1px;
}

.booking_person .person_name h1{
	text-align: right;
	font-size: 16px;
}

.sub_info .dates > div.big_dates > b {
	font-size: 28px;
}

.booking_person + .sub_info{
	background-color: #F4F4F4;
}
.booking_person img{
	border-style: solid;
	border-width: 1px;
	border-color: #DDD;
	width: 34px;
	height: 34px;
}

.person{
	margin-bottom: 15px;
}
.sub_info .dates{
	padding: 5px 0 20px 0;
	text-transform: uppercase;
	color: #cecece;
	font-size: 8pt;
	text-align: center;
}
.sub_info .dates > div > b, .big_date b{
	display: block;
	font-weight: 400;
	font-size: 14px;
	color: #333;
}
.accept_or_decline{
	padding: 5px;
	text-align: center;
}

.booking_bookmark > h1{
	margin-top: 10px;
	padding-bottom: 5px;
	line-height: 1em;
	text-decoration: underline;
	text-align: left;
}

.cart{
	background-color: #F7F7F7;
	border-style: solid;
	border-width: 1px;
	border-color: #ECECEC;
	font-size: 10px;
	text-transform: uppercase;
	position: relative;
	overflow: hidden;
}

.all_fees{
	text-align: right;
}

.booking_labels{
	text-align: center;
	font-size: 9px;
	color: #666;
	margin-top: 15px;
}
.booking_dates{
	text-transform: uppercase;
	font-size: 13px;
	text-align: center;
	color: #0396b6;
}
.all_fees > div{
	border-style: dotted;
	border-width: 0 0 1px 0;
	border-color: #E8E8E8;
}
.booking_info{
	padding: 8px;
}
.booking_pricing{
	text-align: right;
}

.price{
	font-size: 12px;
}

.booking_pricing_final{
	border-style: solid;
	border-width: 0 0 2px 0;
	border-color: #8ab603;
}

#paypal_checkout{
	width: 240px;
	height: 48px;
	background-image: url('../img/icons/paypal.png');
	background-position: 0 0;
	margin:  25px auto 0 auto;
}

#paypal_checkout:hover{
	background-position: 0 48px;
}

#finalPrice{
	font-size: 24px;
}

#checkout{
	position: absolute;
	top: -10px;
	left: -40px;
}

.cart_info{
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	text-align: left;
	text-transform: none;
	padding: 4px 10px;
}
.checkout_dates{
	text-align: center;
}
.property_image{
	border-style: dashed;
	padding-bottom: 15px;
	border-width: 0 0 1px;
	border-color: #CECECE;
}
/* == FORMS == */

#amenities div.checkbox label, #amenities div.checkbox .checker{
	float: left;
}
.form_label > div, .form_label > h1{
	background-color: #F7F7F7;
	padding-top: 15px;
}

.form_label > h1{
	margin-top: 5px;
	font-size: 18px;
	color: #AAA;
	display: inline-block;
	text-align: left;
	padding: 10px 35px;
	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
}

.form_label .h1 h1{
	font-size: 14px;
	margin-top: 13px;
}
form.formee > div, form.formee > section > div, .panel_info, form.formee > div[id*="step"] > fieldset div.input{
	margin: 0 0 15px 0;
	background-color: #ECECEC;
	padding: 9px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

form.formee > div[id*="step"]{
	background-color: transparent;
}
.panel_info .panel{
	background-color: #FFFFFF;
	text-align: center;
	margin: 5px;
}

form.formee > section > div{
	background-color: #e6f2f9;
}

form.formee > div.submit{
	background-color: transparent;
}

fieldset > div.submit{
	float: right;
}

form.formee > div.termsofservice {
	overflow: auto;
	height: 200px;
	background-color: #F5F8F8;
	border-style: solid;
	border-width: 1px;
	border-color: #ECECEC;
	padding: 10px;
	text-align: left;
	font-size: 1.1em;
}

form.formee div.input.textarea, form.formee div.input.text{
	position: relative;
}
form.formee div.input.textarea label, form.formee div.input.text label{ padding: 5px; position:absolute; left:15px; font-size: 16px;}

form.formee div.input.date select, form.formee div.input.time select{
	width: auto;
}
/* == GLOBAL == */
.profile_picture{
	padding: 6px;
	background-color: white;
	border: 1px solid #ECECEC;
	max-width: 100%;
	max-height: 128px;
	-moz-box-shadow: inset 0 0 5px transparent;
	-webkit-box-shadow: inset 0 0 5px transparent;
	box-shadow: inner 0 0 5px transparent;
	-webkit-transition: all .6s;
	-moz-transition: all .6s;
	-ms-transition: all .6s;
	-o-transition: all .6s;
	transition: all .6s;
}

.properties .row-fluid img.profile_picture{
	margin-top: 30px;
}
.profile_picture:hover{
	-moz-box-shadow: inset 0 0 5px #888;
	-webkit-box-shadow: inset 0 0 5px#888;
	box-shadow: inner 0 0 5px #888;
}

#contact_card{
	margin: 10px 0 0 0;
	
	padding: 15px 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #ECECEC;
	background-color: #F7F8F7;
}
#contact_card  img{
	display: block;
}
.person_card{
	padding: 8px;
	color: #F7F7F7;
}

.person_card .social_media{
	margin-top: 25px;
}

.person_card .social_media img{
	width: 32px;
	height: 32px;
	float: left;
}
.person_card .social_media > div > div > div{
	padding-left: 35px;
	margin-top: 5px;
}
.person_card .social_media > div > div{
	margin-top: 5px;
}

.person_card .score_card{
	padding: 10px;
	text-align: center;
}
.person_card .score{
	font-size: 48px;
	color: #a1e400;
	line-height: 52px;
}
.person_card > div{
	float: left;
	width: 140px;
	margin-right: 10px;
}

.person_card > div:nth-child(2){
	border-left: 1px solid #EAEAEA;
	width: 290px;
	padding-left: 10px;
}

.booking_card{
	background-color: #ececec;
}

.booking_card .person_card > div{
	float: none;
	width: auto;
	margin-top: 5px;
}

.booking_card .person_card img{
	margin-right: 15px;
}

.booking_card .person_card .social_media{
	padding: 7px;
		border: 1px solid #1E2021;
	color: #B1B1B1;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.6);
	background: #313334;
	background: -webkit-gradient(linear, center top, center bottom, from(
	#565A5B), to(#313334));
	background: -moz-linear-gradient(top, #565A5B, #313334);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff565a5b', endColorstr='#ff313334', GradientType=0);
	-moz-box-shadow: inset 0 0 0 1px rgba(255,255,255,0.15);
	-webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15);
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15);
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	font-size: 9pt;
	
}

.booking_card textarea{
	width: 100%;
	margin-top: 38px;
}
.booking_card label{
	display: none;
}
.booking_card .social_media > div{
	margin-top: 7px;
}

#map_canvas { min-height: 475px; height: 540px !important; }
#map_canvas img{ max-width: none; }
.book_now, .contact_me{
	font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	padding: 19px;
	background-color: green;
	font-size: 18pt;
	font-weight: 700;
	background: rgb(174,220,86); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(174,220,86,1) 2%, rgba(107,185,40,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgba(174,220,86,1)), color-stop(100%,rgba(107,185,40,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(174,220,86,1) 2%,rgba(107,185,40,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(174,220,86,1) 2%,rgba(107,185,40,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(174,220,86,1) 2%,rgba(107,185,40,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(174,220,86,1) 2%,rgba(107,185,40,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aedc56', endColorstr='#6bb928',GradientType=0 ); /* IE6-9 */
	border-style: solid;
	border-width: 1px;
	border-color: #6fb930;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
	color: #FFFFFF;
}

.contact_me{
	background: #2876b9;
	font-size: 14pt;
	padding: 15px;
	border-color: #ECECEC;
	filter: none;
}

.book_now:hover{
	border-color: #cdcdcd;
}
.contact_me:hover{
	border-color: #ECECEC;
	background: #4b9de3;
}
.book_now:active, .contact_me:active{
	-moz-box-shadow: inset 0 0 15px #888;
	-webkit-box-shadow: inset 0 0 15px#888;
	box-shadow: inner 0 0 15px #888;
}
.book_now > h2, .contact_me > h2{
	text-align: center;
	color: #555;
	font-size: 12px;
	font-style: italic;
}
a:hover{
	text-decoration: none;
}
.inner{
	padding: 10px 20px 20px 20px;
}

.comment{
	background-color: #e7eded;
	padding: 15px;
	margin-bottom: 15px;
	font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
	font-size: 11px;
}

.comment .commenter {
	border-style: solid;
	border-width: 4px;
	border-color: #FFFFFF;
	width: 90px;
	height: 90px;
	float: left;
}

.comment h1{
	text-transform: uppercase;
	font-weight: 700;
	text-align: left;
	font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
	font-size: 10pt;
}

.comment .text{
	font-size: 10pt;
	margin-top: 5px;
}

.comment h1, .comment .text{
	padding-left: 105px;
}

.comment div[class*="span"]:first-child{
	border-style: solid;
	border-width: 0 1px 0 0;
	border-color: #cfd8d7;
}

#ui-datepicker-div{
	z-index: 10 !important;
	font-size: 12px;
}

.small{
	text-align: center;
	font-style: italic;
	font-size: 11px;
}

.book_now.small_book{
	width: 200px;
	padding: 5px;
	margin: 5px auto;
}

nav.internal{
	padding: 15px;
	background-color: #333;
	margin: auto;
	color: #CCC;
	font-size: 11px;
	text-align: center;
	font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
}

nav.internal ul li{
	float: left;
	margin: 0 15px;
	text-transform: uppercase;
}

h1.ribbon{
	font-weight: 400;
	width: 12%;
	max-width: 194px;
	text-align: center;
	position: absolute;
	color: #468847;
	text-transform: none;
	margin: -4px 0 30px -30px;
	padding: 5px 0;
	background: rgb(180,223,91); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(180,223,91,1) 0%, rgba(180,223,91,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(180,223,91,1)), color-stop(100%,rgba(180,223,91,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(180,223,91,1) 0%,rgba(180,223,91,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(180,223,91,1) 0%,rgba(180,223,91,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(180,223,91,1) 0%,rgba(180,223,91,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(180,223,91,1) 0%,rgba(180,223,91,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4df5b', endColorstr='#b4df5b',GradientType=0 ); /* IE6-9 */
	-moz-box-shadow: 0 2px 0 rgba(0,0,0,.3);
	-webkit-box-shadow: 0 2px 0 rgba(0,0,0,.3);
	box-shadow: 0 2px 0 rgba(0,0,0,.3);
}

h1.ribbon.deleted{
	background: rgb(204,0,0); /* Old browsers */
background: -moz-linear-gradient(top, rgba(204,0,0,1) 0%, rgba(204,0,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(204,0,0,1)), color-stop(100%,rgba(204,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(204,0,0,1) 0%,rgba(204,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(204,0,0,1) 0%,rgba(204,0,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(204,0,0,1) 0%,rgba(204,0,0,1) 100%); /* IE10+ */
background: linear-gradient(top, rgba(204,0,0,1) 0%,rgba(204,0,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#cc0000',GradientType=0 ); /* IE6-9 */
color: #FFFFFF;
}

h1.ribbon.expired{
	background: rgb(249,252,247); /* Old browsers */
background: -moz-linear-gradient(top, rgba(249,252,247,1) 0%, rgba(245,249,240,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,252,247,1)), color-stop(100%,rgba(245,249,240,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(249,252,247,1) 0%,rgba(245,249,240,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(249,252,247,1) 0%,rgba(245,249,240,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(249,252,247,1) 0%,rgba(245,249,240,1) 100%); /* IE10+ */
background: linear-gradient(top, rgba(249,252,247,1) 0%,rgba(245,249,240,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fcf7', endColorstr='#f5f9f0',GradientType=0 ); /* IE6-9 */
color: #CDCDCD;
}
h1.ribbon:before
{
	content: '';
	position: absolute;
	border-style: solid;
	border-color: transparent;
	bottom: -10px;
}

h1.ribbon:before
{
	border-width: 0 10px 10px 0;
	border-right-color: #222;
	left: 0;
}

h1.full_ribbon{
        text-align: center;
        position: relative;
        color: #fff;    
        margin: 0 -30px 30px -30px;
        padding: 10px 0; 
        text-shadow: 0 1px rgba(0,0,0,.8);background: #63b6db; /* Old browsers */
background: -moz-linear-gradient(top, #63b6db 0%, #309dcf 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#63b6db), color-stop(100%,#309dcf)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #63b6db 0%,#309dcf 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #63b6db 0%,#309dcf 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #63b6db 0%,#309dcf 100%); /* IE10+ */
background: linear-gradient(top, #63b6db 0%,#309dcf 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63b6db', endColorstr='#309dcf',GradientType=0 ); /* IE6-9 */
        -moz-box-shadow: 0 2px 0 rgba(0,0,0,.3);
        -webkit-box-shadow: 0 2px 0 rgba(0,0,0,.3);
        box-shadow: 0 2px 0 rgba(0,0,0,.3);
    }
    
    h1.full_ribbon:before, h1.full_ribbon:after
    {
        content: '';
        position: absolute;
        border-style: solid;
        border-color: transparent;
        bottom: -10px;
    }
    
    h1.full_ribbon:before
    {
        border-width: 0 10px 10px 0;
        border-right-color: #222;
        left: 0;
    }
    
    h1.full_ribbon:after
    {
        border-width: 0 0 10px 10px;
        border-left-color: #222;
        right: 0;
    }
#calendar tr.dates td, #calendar tr.days td{
	color: #788082;
}

#calendar tr.days td{
	text-transform: uppercase;
	font-weight: 700;
}

#calendar{
	background-color: #dadada;
	margin: 0 5px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	
}
#calendar .calendar{
	font-size: 9pt;
	color: #90989a;
	background: rgb(245,245,245); /* Old browsers */
background: -moz-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(249,249,249,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,245,245,1)), color-stop(100%,rgba(249,249,249,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(245,245,245,1) 0%,rgba(249,249,249,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(245,245,245,1) 0%,rgba(249,249,249,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(245,245,245,1) 0%,rgba(249,249,249,1) 100%); /* IE10+ */
background: linear-gradient(top, rgba(245,245,245,1) 0%,rgba(249,249,249,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
}

#calendar .calendar .month{
	text-align: center;
	background: rgb(41,142,186); /* Old browsers */
background: -moz-linear-gradient(top, rgba(41,142,186,1) 0%, rgba(20,137,180,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(41,142,186,1)), color-stop(100%,rgba(20,137,180,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(41,142,186,1) 0%,rgba(20,137,180,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(41,142,186,1) 0%,rgba(20,137,180,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(41,142,186,1) 0%,rgba(20,137,180,1) 100%); /* IE10+ */
background: linear-gradient(top, rgba(41,142,186,1) 0%,rgba(20,137,180,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#298eba', endColorstr='#1489b4',GradientType=0 ); /* IE6-9 */
border-style: solid;
border-width: 1px;
border-color: #25789a;
border-radius: 9px 9px 0 0;
padding: 5px 15px;
color: #fffdff;
width: 100%;
-moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;
}

#calendar .calendar .month img{
	width: 24px;
	height: 24px;
	margin-top: 5px;
}

#calendar .calendar .month  h1{
	font-size: 26px;
	margin-top: 6px;
}

#calendar .calendar .dates > div{
	float: left;
	width: 14.28571428571429%;
}

#calendar .calendar .days > div{
	text-transform: uppercase;
	font-weight: 700;	
	border: none;
	text-align: center;
	padding: 20px 0;
}

#calendar .calendar .dates > div > div{
	background: #fefefe;
	text-align: center;
	font-size: 24px;
	font-weight: 700;
	width: 100%;
	padding: 13px 0;
	color: #686868;
	border-style: solid;
	border-width: 0 0 1px 1px;
	border-color: #dcdcdc;
}

#calendar .calendar .dates > div:last-child  div{
	border-width: 0 1px 1px 1px;
}
#calendar .calendar .dates > div > div .date{
	font-size: 11pt;
}
#calendar .calendar .dates > div > div.inactive{
	background: #fefefe;
}
#calendar .calendar .dates > div > div.pending_hover{
background: rgb(78,152,227); /* Old browsers */
background: -moz-linear-gradient(top, rgba(78,152,227,1) 1%, rgba(61,124,201,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(78,152,227,1)), color-stop(100%,rgba(61,124,201,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(78,152,227,1) 1%,rgba(61,124,201,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(78,152,227,1) 1%,rgba(61,124,201,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(78,152,227,1) 1%,rgba(61,124,201,1) 100%); /* IE10+ */
background: linear-gradient(top, rgba(78,152,227,1) 1%,rgba(61,124,201,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e98e3', endColorstr='#3d7cc9',GradientType=0 ); /* IE6-9 */
color: #FEFEFE;
}
#calendar .calendar .dates > div > div.booked{
	background: rgb(228,78,78); /* Old browsers */
background: -moz-linear-gradient(top, rgba(228,78,78,1) 0%, rgba(201,64,61,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(228,78,78,1)), color-stop(100%,rgba(201,64,61,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(228,78,78,1) 0%,rgba(201,64,61,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(228,78,78,1) 0%,rgba(201,64,61,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(228,78,78,1) 0%,rgba(201,64,61,1) 100%); /* IE10+ */
background: linear-gradient(top, rgba(228,78,78,1) 0%,rgba(201,64,61,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e44e4e', endColorstr='#c9403d',GradientType=0 ); /* IE6-9 */
color: #F1F1F1;
}

.quickinfo:hover{
	cursor: pointer;
}

#loading{
	padding: 100px;
}

#sb-player > div{
	height: 100%;
}

#header{
	background: rgb(7,157,200); /* Old browsers */
background: -moz-linear-gradient(top, rgba(7,157,200,1) 0%, rgba(0,118,191,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(7,157,200,1)), color-stop(100%,rgba(0,118,191,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(7,157,200,1) 0%,rgba(0,118,191,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(7,157,200,1) 0%,rgba(0,118,191,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(7,157,200,1) 0%,rgba(0,118,191,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(7,157,200,1) 0%,rgba(0,118,191,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#079dc8', endColorstr='#0076bf',GradientType=0 ); /* IE6-9 */
	-moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;
}

#main_body > div{
	padding-top: 120px;
	text-align: center;
}

#logo{
	height: 75px;
	display: inline-block;
	padding: 5px;
}

#actions{
	float: right;
	margin: 20px 20px 0 0;
}
#actions a{
	background-color: #464646;
	display: inline-block;
	vertical-align: top;
	padding: 15px 20px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	min-width: 80px;
	min-height: 80px;
	text-align: center;
	color: white;
	font-size: 11px;
	color: #DDD;
	transition: all .4s;
	-moz-transition: all .4s; /* Firefox 4 */
	-webkit-transition: all .4s; /* Safari and Chrome */
	-o-transition: all .4s; /* Opera */
}

#actions a:hover{
	background-color: #d75904;
	color: #FFF;
}
#actions img{
	margin: auto;
	display: block;
	width: 20px;
	height: 28px;
}
#searchStart{
	padding: 8px 20px;
	width: 100%;
	font-family: "Georgia", serif;
	font-style: italic;
	border-style: solid;
	border-width: 1px;
	-moz-border-radius: 24px;
	border-radius: 24px;
	-webkit-border-radius: 24px;
	transition: all .4s;
	-moz-transition: all .4s; /* Firefox 4 */
	-webkit-transition: all .4s; /* Safari and Chrome */
	-o-transition: all .4s; /* Opera */
	letter-spacing: 1px;
	background: #ECECEC url('../img/search.png') no-repeat;
	background-position: 95%;
	margin-top: 16px;
}

#searchStart:focus, #searchStart:hover{
	outline: none;
	-moz-box-shadow: inset 0 8px 8px #AAA;
-webkit-box-shadow: inset 0 8px 8px#AAA;
box-shadow: inner 0 8px 8px #AAA;
}

#menu{
	text-align: right;
	position: relative;
	background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(236,236,236,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(236,236,236,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(236,236,236,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(236,236,236,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(236,236,236,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ececec',GradientType=0 ); /* IE6-9 */
box-shadow: 0 0 10px #000;
-moz-box-shadow: 0 0 10px #000;
-webkit-box-shadow: 0 0 10px #000;
}

#menu > .item{
	height: 100%;
	text-align: center;
}

#menu > a{
	float: right;
	font-size: 9pt;
	padding: 10px 15px;
	text-align: center;
	border: solid #434343;
	border-width: 0 1px 0 0;
	color: #AAA;
	transition: all .4s;
	-moz-transition: all .4s; /* Firefox 4 */
	-webkit-transition: all .4s; /* Safari and Chrome */
	-o-transition: all .4s; /* Opera */
}

#menu > a:hover{
	background-color: #555b65;
}

#menu > a:last-child{
	border: 0;
}
#menu .sub_icon{
	width: 24px;
	height: 24px;
}
#header label{
	display: none;
}

#dashboard_container{
	position: relative;
	
}
#dashboard_notifications{
	display: none;
	font-size: 11px;
	line-height: 14px;
	position: absolute;
	background-color: #ECECEC;
	z-index: 5;
	width: 350px;
	height: auto !important;
	right: 0;
	top: 68px;
	padding: 10px;
	color: #555b65;
	-moz-box-shadow: 0 0 1px #888;
	-webkit-box-shadow: 0 0 1px#888;
	box-shadow: 0 0 1px #888;
}
#dashboard_container > div{
	position: relative;
}

.notification{
	color: #FFF;
	position: absolute;
	top: -24px;
	right: 0;
	background-color: #ea2929;
	display: block;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	min-width: 22px;
	font-size: 9px;
	padding: 2px 8px;
}
#dashboard_notifications > div{
	border: solid 1px #FFF;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: #FFF;
	margin-bottom: 4px;
	text-align: left;
	padding: 10px;
}

.flash_error{
	border-style: solid;
	border-width: 1px;
	border-color: #d5a6a6;
	background-color: #f1bdbd;
}

.flash_error .flash_error_type{
	background: #eaaeae;
}
.flash_error > div{
	color: #97454d;
	font-weight: 700;
	font-size: 9pt;
	padding: 12px 25px;

}

.flash_error .flash_error_type{
	float: left;	
	border-style: solid;
	border-width: 0 1px 0 0;
	border-color: #d3a7a7;
	margin-right: 25px;
}
.flash_error .flash_error_type img{
	margin-top: -2px;
	padding: 0 5px;
	float: left;
}


.flash_success{
	border-style: solid;
	border-width: 1px;
	border-color: #acd4a2;
	background-color: #f1bdbd;
}

.flash_success .flash_success_type{
	background: #eaaeae;
}
.flash_success > div{
	color: #569745;
	font-weight: 700;
	font-size: 9pt;
	padding: 12px 25px;
	background-color: #c9f1bd;

}

.flash_success .flash_success_type{
	float: left;	
	border-style: solid;
	border-width: 0 1px 0 0;
	border-color: #b0d5a9;
	margin-right: 25px;
	background-color: #baeaae;
}
.flash_success .flash_success_type img{
	margin-top: -2px;
	padding: 0 5px;
	float: left;
}
#menu #listmyspace{
background: rgb(253,248,105); /* Old browsers */
background: -moz-linear-gradient(top, rgba(253,248,105,1) 1%, rgba(250,238,120,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(253,248,105,1)), color-stop(100%,rgba(250,238,120,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(253,248,105,1) 1%,rgba(250,238,120,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(253,248,105,1) 1%,rgba(250,238,120,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(253,248,105,1) 1%,rgba(250,238,120,1) 100%); /* IE10+ */
background: linear-gradient(top, rgba(253,248,105,1) 1%,rgba(250,238,120,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdf869', endColorstr='#faee78',GradientType=0 ); /* IE6-9 */
	
	-moz-box-shadow: 0 0 5px #FFF;
-webkit-box-shadow: 0 0 5px#FFF;
box-shadow: 0 0 5px #FFF;
visibility: hidden;
	border-style: solid;
	border-width: 2px;
	border-color: #eade78;
	height: auto;
	margin-right: 35px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	color: #54482e;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
	padding: 5px 25px;
}

#profile_view > div div.image {
	display: block;
	margin-top: 8px;
	padding: 9px;
	background-color: #FFF;
	margin-bottom: 10px;
}

.entry{
	background: rgb(90,152,252); /* Old browsers */
background: -moz-linear-gradient(top, rgba(90,152,252,1) 0%, rgba(64,128,230,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(90,152,252,1)), color-stop(100%,rgba(64,128,230,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(90,152,252,1) 0%,rgba(64,128,230,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(90,152,252,1) 0%,rgba(64,128,230,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(90,152,252,1) 0%,rgba(64,128,230,1) 100%); /* IE10+ */
background: linear-gradient(top, rgba(90,152,252,1) 0%,rgba(64,128,230,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a98fc', endColorstr='#4080e6',GradientType=0 ); /* IE6-9 */
color: #FFF;
padding: 10px;
border: solid 1px #2569d4;
font-size: 9pt;
margin-bottom: 4px;

border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}

.entry i{
	margin-top: 2px;
	margin-right: 25px;
}

#content > section.inset{
	background: none;
	border-style: solid;
	border-width: 1px;
	border-color: #FAFAFA;
	padding: 15px;
	margin-top: 10px;
	color: #000;
	font-size: 11px;
	line-height: 18px;
	margin-bottom: 40px;
}


.property_icon{
	width: 12%;
	float: left;
	margin-right: .5%;
}

.property_icon img{
	height: 70px;
}

#search_panel #map_canvas{
	width: 100%;
	min-height: 0;
	height: 250px !important;
}

#search_entries{
	background-color: #FFF;
}

.search_property{
	background-color: #f1f1f1;
	margin-bottom: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: #ECECEC;
}
.search_property > img{
	float: left;
	margin-right: 25px;
	width: 250px;
}

.search_property > div{
	float: left;
}

.search_property .name{
	font-weight: 700;
	font-size: 16px;
}

.search_property .small{
	margin-top: 5px;
	display: block;
	font-weight: 400;
	text-align: left;
} 

.search_property .small i{
	margin-right: 10px;
}
.search_property .user_profile > div > img{
	width: 64px;
	height: 64px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50px;
	float: left;
	margin-right: 30px;
	margin-bottom: 15px;
}
.property_search_image{
	display: block;
}
.search_property .prices{
	margin-top: 15px;
	font-weight: 700;
	text-align: center;
	background-color: #f2b047;
	padding: 10px 0;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	line-height: 24px;
	color: #FAFAFA;
	margin: 20px auto;
}

.search_property .prices span{
	font-size: 16px;
	font-family: "Arial", sans-serif;
	color: #333;
}
.search_property .rating{
	float: right;
	margin-left: 10px;
}

.listmyspace{
	display: block;
	text-align: center;
	width: 100%;
	margin-top: 10px;
}

html,body{
	height: 100%;
}

#container{
	position:relative; /* needed for footer positioning*/
	margin:0 auto; /* center, not in IE5 */
	min-height: 74%;
	padding-bottom: 10px;
}

footer {
	text-align: center;
}

.carousel-control img{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	width: 12px;
	height: 16px;
	margin-bottom: 14px;
}

.carousel .item > img {
	margin: auto;
	height: 550px;
	width: 100%;
}

.carousel .item{
	background-color: #F5F5F5;
}

#pageName{
	display: none;
}

.person_message{
background: rgb(140,140,140); /* Old browsers */
background: -moz-linear-gradient(top, rgba(140,140,140,1) 0%, rgba(23,26,30,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(140,140,140,1)), color-stop(100%,rgba(23,26,30,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(140,140,140,1) 0%,rgba(23,26,30,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(140,140,140,1) 0%,rgba(23,26,30,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(140,140,140,1) 0%,rgba(23,26,30,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(140,140,140,1) 0%,rgba(23,26,30,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c8c8c', endColorstr='#171a1e',GradientType=0 ); /* IE6-9 */

box-shadow: 0pt -1px 0pt rgba(0, 0, 0, 0.075) inset, 0pt 1px 0pt rgba(255, 255, 255, 0.3) inset, 0pt 1px 2px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0pt -1px 0pt rgba(0, 0, 0, 0.075) inset, 0pt 1px 0pt rgba(255, 255, 255, 0.3) inset, 0pt 1px 2px rgba(0, 0, 0, 0.1);
-webkit-box-shadow: 0pt -1px 0pt rgba(0, 0, 0, 0.075) inset, 0pt 1px 0pt rgba(255, 255, 255, 0.3) inset, 0pt 1px 2px rgba(0, 0, 0, 0.1);

border: solid 1px #5b5b5b;
}

.person_message_blue{
background: rgb(69,108,142); /* Old browsers */
background: -moz-linear-gradient(top, rgba(69,108,142,1) 0%, rgba(2,16,33,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,108,142,1)), color-stop(100%,rgba(2,16,33,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(69,108,142,1) 0%,rgba(2,16,33,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(69,108,142,1) 0%,rgba(2,16,33,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(69,108,142,1) 0%,rgba(2,16,33,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(69,108,142,1) 0%,rgba(2,16,33,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#456c8e', endColorstr='#021021',GradientType=0 ); /* IE6-9 */
}

.person_message > div > img{
	width: 100%;
	display: block;
	padding: 2px;
	background: #FFF;
}

.user_message_details{
	padding-top: 10px;
	color: #FFF;
	font-size: 24px;
	line-height: 36px;
}

.user_message_info{
	text-align: right;
}

.user_message_info > div{
	background-color: #7D7E7D;
	color: black;
	font-weight: 700;
	display: inline-block;
	margin-top: 1px;
	box-shadow: 0pt -1px 0pt rgba(0, 0, 0, 0.075) inset, 0pt 1px 0pt rgba(255, 255, 255, 0.3) inset, 0pt 1px 2px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0pt -1px 0pt rgba(0, 0, 0, 0.075) inset, 0pt 1px 0pt rgba(255, 255, 255, 0.3) inset, 0pt 1px 2px rgba(0, 0, 0, 0.1);
-webkit-box-shadow: 0pt -1px 0pt rgba(0, 0, 0, 0.075) inset, 0pt 1px 0pt rgba(255, 255, 255, 0.3) inset, 0pt 1px 2px rgba(0, 0, 0, 0.1);
padding: 5px 10px;
border-radius: 0 0 2px 2px;

border-bottom: solid 1px #7D7E7D;
}

.messages{
	border: solid 1px #ECECEC;
	border-width: 0 1px;
	margin-bottom: 25px;
}