@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
@import url(http://fonts.googleapis.com/css?family=Arvo:400,700);

@font-face {
    font-family: 'Nevis';
    src: url('fonts/nevis-webfont.eot');
    src: url('fonts/nevis-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/nevis-webfont.woff') format('woff'),
         url('fonts/nevis-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* =================================== */
/*		BASE STYLE STARTS NOW
/* =================================== */

html,body {
	margin:0;
	padding:0;
	height:100%; /* needed for container min-height */	
	width: 100%;
	min-width: 1000px;
	word-wrap: break-word;
}

a{
	text-decoration: none;
	color: inherit;
}

a:hover{
	color: #5aacff;
	text-decoration: underline;
}

em, b{
	font-weight: 900;
}

body{
	font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
	font-size: 11px;
	background-color: #F7F7F7;
}

header{
	background-color: #f0f0f0;
	width: 100%;
}

#main_navigation{
	background: #6b6b6b; /* Old browsers */
	background: -moz-linear-gradient(top, #6b6b6b 0%, #333333 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6b6b6b), color-stop(100%,#333333)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #6b6b6b 0%,#333333 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #6b6b6b 0%,#333333 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #6b6b6b 0%,#333333 100%); /* IE10+ */
	background: linear-gradient(top, #6b6b6b 0%,#333333 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b6b6b', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
	border-style: solid;
	border-width: 2px 0 2px 0;
	border-color: #d0d0d0;
	line-height: 8px;
	color: #CECECE;
	font-size: 11px;
}

#main_navigation ul li{
	display: block;
	float: left;
	position: relative;
}

#main_navigation ul li a{
	display: block;
	padding: 16px 25px 16px 25px;
	text-decoration: none;
}

#main_navigation ul li a:active{
	-moz-box-shadow: inset 0 0 8px #888;
	-webkit-box-shadow: inset 0 0 8px#888;
	box-shadow: inner 0 0 8px #888;
	background-color: #404040;
}

#main_navigation ul li ul{
	position: absolute;
	z-index: 10;
	background-color: black;
	width: 180px;
	left: -9999px;
	opacity:0.6;
	transition: opacity .5s;
	-moz-transition: opacity .5s; 
	-webkit-transition: opacity .5s; 
	-o-transition: opacity .5s;
}

#main_navigation ul li:hover ul{
	left: 0;
	opacity: 1;
}

#main_navigation .sub_icon{
	float: left;
	width: 32px;
	height: 32px;
}

#main_navigation ul li:hover, #main_navigation ul li.active{
	background: #747373; /* Old browsers */
	background: -moz-linear-gradient(top, #747373 0%, #3d3d3d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#747373), color-stop(100%,#3d3d3d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #747373 0%,#3d3d3d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #747373 0%,#3d3d3d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #747373 0%,#3d3d3d 100%); /* IE10+ */
	background: linear-gradient(top, #747373 0%,#3d3d3d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#747373', endColorstr='#3d3d3d',GradientType=0 ); /* IE6-9 */
	-moz-box-shadow: inset 0 0 5px #888;
	-webkit-box-shadow: inset 0 0 5px#888;
	box-shadow: inner 0 0 5px #888;
	border-style: solid;
	border-width: 4px 0 0 0;
	border-color: #84c4ff;
	margin-top: -4px;
}

#main_navigation ul li ul li a{
	color: inherit;
	text-decoration: none;
	font-family: "Tahoma", sans-serif;
	font-size: 11px;
	letter-spacing: 1px;
	padding: 4px 10px 10px 10px;
}

#main_navigation ul li ul li a div{
	padding: 14px 20px 4px 30px;
	margin: 10px 0 0 48px;
}

#main_navigation ul li ul li{
	width: 100%;
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: #2e2e2e;
	text-transform: uppercase;
}

#main_navigation ul li ul li:hover{
	background: transparent;
	box-shadow: none;
	filter: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	background: #00a2ff;
	color: #FFFFFF;
	margin-top: -5px;
}

#main_navigation #profile{
	float: right;
	-moz-box-shadow: inset 0 0 5px #888;
	-webkit-box-shadow: inset 0 0 5px#888;
	box-shadow: inner 0 0 5px #888;
}

#main_navigation #profile li a{
	color: #FFFFFF;
}

#main_navigation #profile li ul{
	width: 100%;
	background: #272626; /* Old browsers */
	background: -moz-linear-gradient(top, #272626 0%, #151515 100%, #151515 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#272626), color-stop(100%,#151515), color-stop(100%,#151515)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #272626 0%,#151515 100%,#151515 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #272626 0%,#151515 100%,#151515 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #272626 0%,#151515 100%,#151515 100%); /* IE10+ */
	background: linear-gradient(top, #272626 0%,#151515 100%,#151515 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#272626', endColorstr='#151515',GradientType=0 ); /* IE6-9 */
}

#main_navigation #profile li ul img.profile_pic{
	float: left;
	width: 48px;
	height: 48px;
}

#main_navigation #profile li ul img{
	padding: 9px;
	border-style: solid;
	border-width: 0 1px 0 0;
	border-color: #070707;
	box-shadow: 1px 0px 0 #4e4c4c;
}

#main_navigation #profile li ul .profile{
	border-style: solid;
	border-width: 0 0 0 1px;
	border-color: #444242;
	margin-left: 67px;
	padding: 15px 0 0 25px;
	color: #828282;
	font-weight: bold;
	text-transform: none;
	font-size: .9em;
}

#searchBar{
	margin: auto;
	text-align: center;
	display: none;
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: #e4e3e3;
}

#searchBar .formee{
	margin: auto;
}

.formee-lbl, .formee label {
	font-size: 11px;
	color: #a3a3a3;
}

.ui-datepicker {
	display: none;
}

#searchBar input{
	text-align: center;
}

#topLogo{
	width: 225px;
	height: 45px;
}

div#container {
	position:relative; 
	margin:0 auto;
	height:auto !important; 
	height:100%;
	min-height:100%; 
	width: 100%;
	max-width: 1680px;
	background-image:url('../img/xv_pattern.png');
}

#main_slider{
	text-align: center;
	height: 450px;
	overflow: hidden;
	position: relative;
}

#main_slider #slider_images{
	width: 100%;
	position: relative;
	margin: auto;
	height: 100%;
	-moz-box-shadow: 0 0 5px #FFFFFF;
	-webkit-box-shadow: 0 0 5px#FFFFFF;
	box-shadow: 0 0 5px #FFFFFF;
}

#main_slider .image{
	min-height: 100%;
	min-width: 100%;
	position: absolute;
	z-index: 4;
	background-size: 100% auto;
	display: none;
}

#main_slider .caption{
	opacity:0.6;
	filter:alpha(opacity=60);
	background-color: #000000;
	color: #FFFFFF;
	font-size: 16pt;
	padding: 15px 4px 15px 24px;
	font-family:  "Helvetica", "Arial", sans-serif;
	text-transform: uppercase;
	min-width: 300px;
}

#main_slider #captions{
	left: -2000px;
	max-width: 450px;
	bottom: 0;
	position: absolute;
	z-index: 5;
	text-align: left;
}

#banners{
	text-align: center;
}

#banners img{
	width: 33%;
	display: inline-block;
	height: auto;
	margin-top: -10px;
}
#features{
	text-align: center;
}

#features h1.letter{
	background-color: #95ca00;
	color: #FFFFFF;
	font-size: 22px;
	padding: 5px 0 8px 0;
	text-align: center;
	font-family: "Arvo", "Arial", serif;
	font-weight: 700;
	text-transform: uppercase;
	border-style: solid;
	border-width: 0 0 4px 0;
	border-color: #ECECEC;
}

#features .feature_individual h1{
	font-size: 12px;
	text-transform: uppercase;
	line-height: 12px;
	word-spacing: 0em; 
	font-weight: 900;
	padding: 20px 0 9px 0;
}

#features .feature_individual{
	float: right;
	padding-left: 100px;
}

#features h3{
	display:
}

#features ul{
	padding-left: 88px;
	float: right;
}

#body{
	width: 980px;
	margin: 20px auto 0 auto;
	background-color: #FFFFFF;
	padding: 10px 10px 260px 10px;
}

footer {
	position:absolute;
	width:100%;
	bottom:0; /* stick to bottom */
	min-height: 200px;
	/*background-color: #001D30;*/
	color: #FFFFFF;
	background-image:url('../img/dark_pattern.png');
	border-style: solid;
	border-width: 3px 0 0 0;
	border-color: #ff8a00;
}

footer > div.inner_footer{
	width: 80%;
	margin: auto;
	padding-top: 8px;
	letter-spacing: 1px;
	font-size: 8pt;
	line-height: 20px;
	text-align: center;
}

footer div > p{
	padding-top: 20px;
}

footer .social_media{
	position: absolute;
	right: 0;
	padding: 10px 20px 0 0;
}

footer .social_media img{
	margin: 10px 20px 0 0;
	float: right;
	width: 42px;
	height: 42px;
	transition: opacity .7s;
	-moz-transition: opacity .7s; /* Firefox 4 */
	-webkit-transition: opacity .7s; /* Safari and Chrome */
	-o-transition: opacity .7s; /* Opera */
	opacity:0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */
}

footer .social_media img:hover{
	opacity:1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}

/*footer .social_media:after{
	content: " | ";
}

footer .social_media:nth-last-child(1):after{
	content: "";
}
*/
footer nav{
	text-align: left;
	margin-left: 30px;
}

footer nav ul{
	display: inline-block;
	vertical-align: top;
	margin-right: 120px;
}

.full{
	width: 100% !important;
	margin: 0 !important;
	padding: 10px 0px 260px 0 !important;
}

.important{
	color: #32b7e3;
	font-weight: bold;
	font-family: "Arial", sans-serif;
	font-size: 1.2em;
}